*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/

# Data / artifacts
data/
outputs/
checkpoints/
runs/
mlruns/

# Jupyter
*.log

# Apptainer builds
*.sif

ai-overlay-engine/node_modules
ai-overlay-engine/.idea

app/src/main/assets/ai-overlay-engine
app/src/main/assets/workers